.thumbnail-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    margin-right: 15px;
    margin-top: 10px;
}

#thumbnail-container-inner {
    display: flex;
    white-space: nowrap;
    transition: transform 0.3s ease;
    align-items: center;
    flex-direction: row;
    overflow-x: auto;
}

#thumbnail {
    list-style: none;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#thumbnail li {
    margin: 5px;
    padding: 10px;
    border: 2px solid #eee;
    cursor: pointer;
    transition: all 0.5s;
}