/* #xacNhan-updateSoLuongGioHangCT {
     flex: 1;
     height: 30px;
     padding: 5px;
     font-size: 14px;
     border-radius: 5px;
     width: 15px;
     cursor: pointer;
     transition: background-color 0.3s, color 0.3s;
}

#button-group-GHCT {
     flex: 1;
     height: 30px;
     width: 50px;
     padding: 2px 8px;
     font-size: 12px;
     border-radius: 5px;
     background-color: #4c9aff;
     border: 1px solid #ccc;
     cursor: pointer;
     transition: background-color 0.3s, color 0.3s;
} */