<div class="container-fluid" ng-controller="EditProductController">
    <!-- Account details card-->
    <div class="card mb-4">
        <div class="card-header">Update Product</div>
        <div class="card-body">
            <form>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Ten san pham</label>
                        <input class="form-control" id="name" type="text" placeholder="Enter name"
                            ng-model="editproduct.name">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">Gia</label>
                        <input class="form-control" id="price" type="text" placeholder="Enter price"
                            ng-model="editproduct.price">
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Màu sắc</label>
                        <select class="form-select" aria-label="Default select example" ng-model="selectedColor"
                            multiple>
                            <option selected ng-repeat="color in color" value="{{color.id}}"
                                ng-click="getIdColor(color)">{{color.color}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">Kích cỡ</label>
                        <select class="form-select" aria-label="Default select example" ng-model="selectedSizes"
                            multiple>
                            <option ng-repeat="size in size" ng-value="size.id" ng-click="getIdSize(size)">
                                {{size.shoeSize}}</option>
                        </select>
                    </div>
                </div>


                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Xuat xu</label>
                        <input class="form-control" id="origin" type="text" placeholder="Enter origin"
                            ng-model="editproduct.origin">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">Chat lieu</label>
                        <select class="form-select" aria-label="Default select example"
                            ng-model="editproduct.productMaterial">
                            <option ng-repeat="material in material" value="{{material.id}}">{{material.material}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Dong san pham</label>
                        <select class="form-select" aria-label="Default select example"
                            ng-model="editproduct.productLine">
                            <option ng-repeat="line in line" value="{{line.id}}">{{line.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">Nha san xuat</label>
                        <select class="form-select" aria-label="Default select example"
                            ng-model="editproduct.producer">
                            <option ng-repeat="producer in producer" value="{{producer.id}}">{{producer.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Số lượng</label>
                        <input class="form-control" id="quantity" type="text" placeholder="Enter quantity"
                            ng-model="editproduct.quantity">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1">Trạng thái</label>
                        <div>
                            <input type="radio" class="form-check-input" id="radio1" name="status" value="0"
                                ng-model="editproduct.status" checked>
                            <label class="form-check-label" for="radio1">Active</label>
                            <br>
                            <input type="radio" class="form-check-input" id="radio2" name="status" value="1"
                                ng-model="editproduct.status">
                            <label class="form-check-label" for="radio1">Expired</label>
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="button" ng-click="returnEdit(edit)">Return</button>
                <button class="btn btn-primary" type="button" ng-click="saveEdit(edit)">Save changes</button>
            </form>
        </div>
    </div>
</div>