<div class="container-fluid" ng-controller="EditSizeController">
    <div class="card mb-4">
        <div class="card-header">Cập nhật kích cỡ</div>
        <div class="card-body">
            <form>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Cỡ giày</label>
                        <input class="form-control" id="name" type="number" ng-model="editSize.kichCo" required>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <button class="btn btn-primary" type="button" ng-click="returnEdit(editSize)">Return</button>
                <button class="btn btn-primary" type="button" ng-click="saveEdits(editSize)">Update</button>
            </form>
        </div>
    </div>
</div>