<div class="container-fluid" ng-controller="CreateSizeController">
    <div class="card mb-4">
        <div class="card-header">Thêm kích cỡ</div>
        <div class="card-body">
            <form>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Kích cỡ</label>
                        <input class="form-control" id="name" type="text" placeholder="Nhập cỡ"
                            ng-model="createSize.kichCo" required>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <button class="btn btn-primary" type="button" ng-click="returnCreate()">Quay lại</button>
                <button class="btn btn-primary" type="button" ng-click="saveCreateSize(createSize)">Thêm mới</button>
            </form>
        </div>
    </div>
</div>