<div class="container-fluid" ng-controller="CreateStaffController">
    <!-- Account details card-->
    <div class="card mb-4">
        <div class="card-header">Create Staff</div>
        <div class="card-body" >
            <form>
                <div class="row gx-3 mb-3">   
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputUsername">Name Staff</label>
                        <input class="form-control" id="inputUsername" type="text" placeholder="Enter Staff name" ng-model="createStaff.name">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLocation">Phone number</label>
                        <input class="form-control" id="inputLocation" type="text" placeholder="Enter phone number" ng-model="createStaff.phoneNumber">
                    </div>
                </div>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Email</label>
                        <input class="form-control" id="inputFirstName" type="text" placeholder="Enter email" ng-model="createStaff.email">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Date Of Birth</label>
                        <input class="form-control" id="inputLastName" type="date" placeholder="Enter date birth" ng-model="createStaff.dateOfBirth">
                    </div>
                </div>
                <div class="form-check-inline"> 
                    <label class="small mb-1" for="inputLastName">GenDer</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"  ng-model="createStaff.gender">
                        <label class="form-check-label" for="inlineRadio1">Male</label>
                      </div>
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" ng-model="createStaff.gender">
                        <label class="form-check-label" for="inlineRadio2">Female</label>
                      </div>
                </div>
               
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Address</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter address" ng-model="createStaff.address">
                    </div>
                    <div class="col-md-6">
                        <label class="small mb-1" for="inputLastName">Password</label>
                        <input class="form-control" id="inputLastName" type="text" placeholder="Enter password" ng-model="createStaff.password">
                    </div>
                </div>

                <button class="btn btn-primary" type="button" ng-click="returnCreate()">Return</button>
                <button class="btn btn-primary" type="button" ng-click="saveCreateStaff(staffCreate)">Save changes</button>
            </form>
        </div>
    </div>
</div>