<div ng-controller="detailsController" id="productList">
    <div style="float: left; margin: 50px;">
        <img src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*"
            width="500px" height="500px">
    </div>

    <div id="div-big-product-details">
        <h4 class="product-description">Product Description</h4>
        <p class="product-price">${{price}}</p>
        <div id="div-color-product">
            <div ng-repeat="color in color">
                <button id="color-product-details" ng-style="{'background-color': color}"></button>
            </div>
        </div>
        <div id="div-size-product">
            <div ng-repeat="size in size">
                <button id="size-product-details">{{size}}</button>
            </div>
        </div>
    </div>
</div>