<div class="container-fluid" ng-controller="EditProductController">
    <div class="card mb-4">
        <div class="card-header">Cập nhật sản phẩm</div>
        <div class="card-body">
            <form>
                <div class="row gx-3 mb-3">
                    <div class="col-md-4">
                        <label class="small mb-1">Số lượng</label>
                        <input class="form-control" id="quantity" type="text" ng-model="editproduct.soLuong">
                    </div>
                    <div class="col-md-4">
                        <label for="sel2" class="small mb-1">Màu sắc</label>
                        <select class="form-select" aria-label="Default select example" ng-model="editproduct.mauSac">
                            <option ng-repeat="ms in mauSac" value="{{ms.id}}"
                                ng-selected="ms.id == editproduct.mauSac.id">
                                {{ms.tenMauSac}}</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="small mb-1">Kích cỡ</label>
                        <select class="form-select" aria-label="Default select example" ng-model="editproduct.kichCo">
                            <option ng-repeat="kc in kichCo" value="{{kc.id}}"
                                ng-selected="kc.id == editproduct.kichCo.id">
                                {{kc.kichCo}}</option>
                        </select>
                    </div>
                </div>

                <button class="btn btn-primary" type="button" ng-click="returnEdit(editProduct)">Return</button>
                <button class="btn btn-primary" type="button" ng-click="saveEdits(editProduct)">Update</button>
            </form>
        </div>
    </div>
</div>