<div ng-controller="ProductController" id="productList">
    <div class="container-fluid my-auto d-flex align-items-center">
        <div class="mx-auto">
            <h1 style="text-align: center;">DANH SÁCH SẢN PHẨM</h1>
        </div>
    </div>
    <button type="button" id="button-them-san-pham" ng-click="create(promotion)">
        <ion-icon name="add-circle"></ion-icon> Thêm sản phẩm
    </button>
    <br>
    <table id="myTable">
        <thead class="bg-light">
            <tr>
                <th>#</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="promotion in pager.promotions">
                <td>{{ $index + 1 }}</td>
                <td>
                    <img src='/static/img/{{promotion.anh_san_pham}}' height="90px" width="90px" />
                    <div>
                        <span>{{ promotion.tenSanPham }}</span>
                    </div>
                </td>
                <td>{{ promotion.gia }}</td>
                <td>
                    <div class="button-group">
                        <button type="button" class="btn btn-link" ng-click="dsCTSP(promotion)">
                            <i class="bx bx-edit me-2"></i>
                        </button>
                        <button type="button" class="btn btn-link btn-sm btn-rounded" ng-click="delete(promotion)">
                            <i class="bx bx-trash me-2"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="card-footer text-center">
        <button class="btn" ng-repeat="pageNumber in pager.pageNumbers" ng-click="pager.page = pageNumber">
            {{pageNumber}}
        </button>
    </div>
</div>