<div class="container-fluid" ng-controller="CreateMaterialController">
    <div class="card mb-4">
        <div class="card-header">Thêm Chất liệu sản phẩm</div>
        <div class="card-body">
            <form>
                <div class="row gx-3 mb-3">
                    <div class="col-md-6">
                        <label class="small mb-1">Chất liệu</label>
                        <input class="form-control" id="name" type="text" placeholder="Enter name"
                            ng-model="createMaterial.chatLieu" required>
                    </div>
                    <div class="col-md-6"></div>
                </div>
                <button class="btn btn-primary" type="button" ng-click="returnCreate()">Return</button>
                <button class="btn btn-primary" type="button" ng-click="saveCreate(createMaterial)">Save
                    changes</button>
            </form>
        </div>
    </div>
</div>