<div class="container-fluid" ng-controller="CreateColorController">
    <div class="card mb-4">
        <div class="card-header">Thêm màu sắc</div>
        <div class="card-body">
            <form>
                <div class="mb-3">
                    <label class="small mb-1" for="inputUsername">Tên màu</label>
                    <input class="form-control" id="inputUsername" type="text" placeholder="Enter discount name" ng-model="createColor.tenMauSac">
                </div>

                <div class="mb-3">
                    <div id="colorPicker"></div><br>
                    <input id="hexInput" class="form-control" type="text" placeholder="Hex code">
                </div>
                <button class="btn btn-primary" type="button" ng-click="returnCreate()">Quay lại</button>
                <button class="btn btn-primary" type="button" ng-click="saveCreateColor(createColor)">Thêm mới</button>
            </form>
        </div>
    </div>
</div>